
.btn{
    border: 1.5px solid $orange;
    box-shadow: $glow;
    border-radius: 2px;
    padding:0.8%;
    margin: 1% 0% 1% 0%;
    
    color: $orange;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    &:hover{
        background-color: $orange-trn;
    }
}

.btn-s{
    font-size: 0.6rem;
}
.btn-m{
    font-size: 0.8rem;
}
.btn-l{
    font-size: 1.6rem;
}