
.btn{
    border: 1.5px solid $orange;
    box-shadow: $glow;
    border-radius: 2px;
    padding:0.8%;
    margin: 1% 3%;
    font-size: 0.6rem;
    color: $orange;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    &:hover{
        background-color: $orange-trn;
    }
}